.selectPerzonalizado {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.12);
    font-size: 18px;
    padding-bottom: 03px;
}

.optionPerzo {
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    width: 100px;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.intro-search-field {
    padding: 0px 12px;
    border-right: 1px solid #e4e4e4;
    flex: 1;
    align-items: center;
    display: flex;
    position: relative;
}