.selectPerzonalizado {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.12);
    font-size: 18px;
    width: 315px;
    position: absolute;
    margin-top: -9px;
    padding-bottom: 0px;
}

.optionPerzo {
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    width: 100px;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.intro-search-field {
    padding: 0px 12px;
    border-right: 1px solid #e4e4e4;
    flex: 1;
    align-items: center;
    display: flex;
    position: relative;
}

.estilosRegistro {
    margin-top: 05%;
}

.footer-bottom-section {
    padding: 3px 0;
    border-top: 1px solid #484848;
    text-align: center;
}

.tipoUsuario {
    width: 35%;
    display: block;
    margin-top: 02%;
    margin-bottom: -1%;
    margin-left: auto;
    margin-right: auto;
}

.tituloRegistro {
    font-size: 18px;
    margin-bottom: 13px;
    color: #6a6a6baf;
}

.margenRegistro {
    margin-top: -15px;
}

.titulos {
    text-align: center;
    margin-top: 02%;
    color: #434344be;
    font-size: 19px;
}

.divServicio {
    margin-top: 02%;
}

#titServ {
    margin-top: 03%;
}

.dropdown-toggle::after {
    display: none;
}

.dropup .dropdown-toggle::after {
    display: none;
}

.datosPersonales {
    margin-top: 02%;
}

.Concurp {
    margin-top: -05%;
    margin-left: 02%;
    font-size: 14px;
}


/* ::::::::::::::::::.... CONFIGURACION DE SMARTH WIZARD ....::::::::::::::::::*/


/* ==================  ESTILOS DE LOS PASOS ==================*/

.pasos {
    margin-top: 01%;
}

.sw-theme-circles>ul.step-anchor>li>a {
    border: 2px solid #f5f5f5;
    background: #f5f5f5;
    width: 65px;
    height: 65px;
    text-align: center;
    padding: 25px 0;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 0px 3px #fff !important;
    box-shadow: inset 0px 0px 0px 3px #fff !important;
    text-decoration: none;
    outline-style: none;
    z-index: 99;
    color: #bbb;
    background: #f5f5f5;
    line-height: 1;
}


/* ESTILO DE LA LINEA */

.sw-theme-circles>ul.step-anchor:before {
    width: 16%;
}


/* ESTILO DE LA LINEA */


/* ==================  ESTILOS DE LOS PASOS ==================*/


/* CONFIGURACION DE LOS BOTONES SMARTH WIZARD */

.btn-group,
.btn-group-vertical {
    margin-bottom: 2%;
}


/* CONFIGURACION DE LOS BOTONES SMARTH WIZARD */


/* ::::::::::::::::::.... CONFIGURACION DE SMARTH WIZARD ....::::::::::::::::::*/

div.datedropper .picker+div a {
    text-decoration: none;
    color: currentColor;
    display: none;
}

.inputIne {
    margin-top: -15px;
}

#tituloIne {
    margin-top: 20px;
    margin-bottom: 12px;
}

.list-unstyled {
    color: #dc3545;
    margin-top: -19px;
    font-size: 14px;
    position: absolute;
}

#errorSelect {
    padding-top: 10px;
}

#tiContacto {
    margin-top: -30px;
}

#errorCurp {
    margin-left: 35%;
    margin-top: -7%;
}

#passResp {
    color: #28a745;
    position: absolute;
    margin-top: -18px;
}